.all_services {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3.5rem .75rem;
    padding: 9rem 7rem;

    @include responsive(tab-port) {
        grid-template-columns: 50% 50%;
        grid-row-gap: 1em;
        padding: 3rem;
    }

    @include responsive(phone) {
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
        padding: 4rem 0;
    }

    .services {
        display: grid;
        grid-template-columns: 5rem 80%;
        
        @include responsive(phone) {
            grid-template-columns: 4rem 1fr
        }

        &__icon {
            fill: $color-primary;
            width: 3rem;
            height: 3rem;
        }

        &__details {

            h1 {
                font-size: 1.40rem;
                margin: 1rem 0rem 1.5rem;
            }

            p {
                line-height: 2.35rem;
                font-size: 1.40rem;
            }
        }
    }
}